
#content, body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: hsla(0,0%,100%,.9);
  font-family: 'Lato', sans-serif;

}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

#content {
  display: flex;
}

#project-panel {
  height: 100%;
  width: 22vw;
  background-color: #373c3f;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 70px 40px;
  box-sizing: border-box;

}

#main-panel {
  height: 100%;
  width: 78vw;
  background-color: #2f3437;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 50px 40px;
  box-sizing: border-box;
}

#main-panel::-webkit-scrollbar {
  display: none;
}

#project-panel::-webkit-scrollbar {
  display: none;
}

#project-header {
  font-family: 'Lato', sans-serif;
  
}

#project-header div{
  display: flex;
  justify-content: flex-end;
}

#project-header h1 {
  margin-bottom: 0;
}


button {
  box-sizing: border-box;
  height: 60px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  background: none;
  margin: 0;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  color:  rgba(255, 255, 255, 0.849);
  /* color:  rgb(92, 216, 103); */
}

.fas.fa-plus {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#project-grouping h2{
  font-family: 'Lato', sans-serif;
  margin-block-end: 0.4em;
  margin-block-start: 0.4em;
  padding: .3em;
  cursor: pointer;
}

#project-grouping h2:hover {
  background: #444a4d;
}


#main-panel-header h1{
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
}

#main-panel-header h2 {
  color:  hsla(0,0%,100%,.8);
  height: 60px;
  margin-left: 10px;
  padding: 0;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  overflow: auto;
}

#main-panel-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas.fa-ellipsis-v {
  text-align: center;
  font-size:x-large;
  cursor: pointer;
  width: 40px;
}

#main-content-controls {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content:space-around;
}

#main-content-controls h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.add-item:hover i{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#task-grouping {
  margin: 0px 20px 0px 20px;
}

.task-full {
  margin-top: -20px;
  border-style: solid;
  border-top: none;
  border-color: hsla(0,0%,100%,.6);;
  border-radius: 0 0 10px 10px;
  border-width: .8px;
  margin-bottom: 10px;
}

.task {
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  border-color:  hsla(0,0%,100%,.6);
  border-radius: 10px;
  border-width: 1px;
  background-clip: padding-box;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 70px; 
}

.task:hover {
  cursor: pointer;
}

h2.title {
  min-width: 40%;
}

h2.date {
  min-width: 20%;
}

#priority-style {
  /* float: left; */
  width: 30px;
  height: 100%;
  margin-left: 30px;
  transform: skew(-30deg);
  background-color: #D98121;
}

input[type="checkbox"] {
  align-self: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.description-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.description-top h3 {
  margin: 5px 5px 5px 5px;
  font-family: 'Lato', sans-serif;
}

.task-full p {
  color: hsla(0,0%,100%,.7);
  font-family: 'Montserrat', sans-serif;
  margin: 5px 10px 5px 10px;
}

.inactive {
  display: none;
}

.modal {
  /* This way it could be display flex or grid or whatever also. */
  box-sizing: border-box;
  display: block;
  
  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;
  
  height: 400px;
  max-height: 100%;
  
  position: fixed;
  
  z-index: 100;
  
  left: 60%;
  top: 50%;
  
  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);
  
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */
  
  background: #2f3437;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}
.closed {
  display: none;
}

.modal button {
  height: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 20px 10px 20px;
}

.modal-guts h1 {
  margin-top: 0;
}




.modal .close-button {
  position: absolute;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  
  top: 10px;
  
  /* needs to look OK with or without scrollbar */
  right: 20px;

  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

#task-form {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.form-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 17px;
}


#task-form input[type="radio"]{
  margin: 10px 10px 10px 10px;
  width: 30px;
  height: 30px;
}

#task-form textarea {
  width: 80%;
  height: 70px;
}

#task-form button {
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}
/* #edit-task label {
  margin-top: 15px;
} */



.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  color: black;
  display: inline-block;
  padding: 5px 10px;
  min-width: 50px;
  text-align: center;
  
}

.radio-toolbar label[for="radio1"] {
  background-color: #F5D346;
  cursor: pointer;
}
.radio-toolbar label[for="radio2"] {
  cursor: pointer;
  background-color: #D98121;
}
.radio-toolbar label[for="radio3"] {
  cursor: pointer;
  background-color: #D3151C;
}

.radio-toolbar input[type="radio"]:checked+label {
  text-decoration: underline;
}

.radio-toolbar h3 {
  text-align: center;
  margin-bottom: 7px;
}

.form-row.bottom {
  margin-bottom: 0;
}











