
#content, body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: hsla(0,0%,100%,.9);

}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

#content {
  display: flex;
}

#project-panel {
  height: 100%;
  width: 22vw;
  background-color: #373c3f;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 70px 40px;
  box-sizing: border-box;

}

#main-panel {
  height: 100%;
  width: 78vw;
  background-color: #2f3437;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 50px 40px;
  box-sizing: border-box;
}

#main-panel::-webkit-scrollbar {
  display: none;
}

#project-panel::-webkit-scrollbar {
  display: none;
}

#project-header {
  font-family: 'Lato', sans-serif;
  
}

#project-header div{
  display: flex;
  justify-content: flex-end;
}

#project-header h1 {
  margin-bottom: 0;
}


button {
  box-sizing: border-box;
  height: 60px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  background: none;
  margin: 0;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  color:  hsla(0,0%,100%,.9);
}

.fas.fa-plus {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#project-grouping h2{
  font-family: 'Lato', sans-serif;
  margin-block-end: 0.4em;
  margin-block-start: 0.4em;
  padding: .3em;
  cursor: pointer;
}

#project-grouping h2:hover {
  background: #444a4d;
}


#main-panel-header h1{
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
}

#main-panel-header h2 {
  color:  hsla(0,0%,100%,.8);
  height: 60px;
  margin-left: 10px;
  padding: 0;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  overflow: auto;
}

#main-panel-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas.fa-ellipsis-v {
  text-align: center;
  font-size:x-large;
  cursor: pointer;
  width: 40px;
}

#main-content-controls {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content:space-around;
}

#main-content-controls h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.add-item:hover i{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

#task-grouping {
  margin: 0px 20px 0px 20px;
}

.task-full {
  margin-top: -20px;
  border-style: solid;
  border-top: none;
  border-color: hsla(0,0%,100%,.6);;
  border-radius: 0 0 10px 10px;
  border-width: .8px;
  margin-bottom: 10px;
}

.task {
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  border-color:  hsla(0,0%,100%,.6);
  border-radius: 10px;
  border-width: 1px;
  background-clip: padding-box;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height: 70px; 
}

.task:hover {
  cursor: pointer;
}

h2.title {
  min-width: 40%;
}

h2.date {
  min-width: 20%;
}

#priority-style {
  /* float: left; */
  width: 30px;
  height: 100%;
  margin-left: 30px;
  transform: skew(-30deg);
  background-color: orange;
}

input[type="checkbox"] {
  align-self: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.description-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.description-top h3 {
  margin: 5px 5px 5px 5px;
  font-family: 'Lato', sans-serif;
}

.task-full p {
  color: hsla(0,0%,100%,.7);
  font-family: 'Montserrat', sans-serif;
  margin: 5px 10px 5px 10px;
}

.inactive {
  display: none;
}